<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahuan.miaosha.dao.TStockMapper">
  <resultMap id="BaseResultMap" type="com.ahuan.miaosha.model.TStock">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="stock" jdbcType="BIGINT" property="stock" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, stock
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ahuan.miaosha.model.TStock">
    insert into t_stock (id, `name`, stock
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{stock,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ahuan.miaosha.model.TStock">
    insert into t_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="stock != null">
        stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahuan.miaosha.model.TStock">
    update t_stock
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahuan.miaosha.model.TStock">
    update t_stock
    set `name` = #{name,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByStockName" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_stock
    where `name` = #{name,jdbcType=VARCHAR}
  </select>
</mapper>